.ui-widget-prod-list,.ui-widget-prod-list1{
    position: relative;
    width: 500px;
    padding: 0px;
}
.ui-widget-prod-list input, .ui-widget-prod-list input:focus,.ui-widget-prod-list1 input, .ui-widget-prod-list1 input:focus{
    width: 350px;
    font-size: 14px;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 5px 10px;
}
.search-item-box{ 
    width: 95px;
    font-size: 12px;
    position: relative;
    border: solid 1px #a2a2a2;
    padding: 5px 25px 5px 5px;
    border-radius: 3px;
    display: inline-block;
    margin: 3px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.close-btn-prod-list,.close-btn-prod-list1{
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 3px;
    top: 6px;
    right: 5px;
    cursor: pointer;
}
.close-btn-prod-list:before, .close-btn-prod-list:after,.close-btn-prod-list1:before, .close-btn-prod-list1:after{
    content: '';
    height: 2px;
    width: 12px;
    display: block;
    background-color: #999;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    left: 0px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn-prod-list:after,.close-btn-prod-list1:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); 
}

.ui-helper-hidden-accessible{
    position: relative !important;
}

.ui-menu .ui-menu-item a{
    padding: 3px 0px 3px 10px;
    display: block;
}

.ui-menu .ui-menu-item a:hover{
    text-decoration: none;
}