<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Splitit
 * 
 * Module is created for Custom Controllers demonstration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="splititpaymentmethod" frontName="splititpaymentmethod">
            <module name="Splitit_Paymentmethod" />
        </route>
    </router>
</config>